@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoone6bb.eot?y8m131');
  src:  url('fonts/icomoone6bb.html?y8m131#iefix') format('embedded-opentype'),
    url('../fonts/icomoone6bb.ttf?y8m131') format('truetype'),
    url('../fonts/icomoone6bb.woff?y8m131') format('woff'),
    url('../fonts/icomoone6bb.svg?y8m131#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="docpoint-icon-"], [class*=" docpoint-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.docpoint-icon-26:before {
  content: "\e900";
}
.docpoint-icon-27:before {
  content: "\e901";
}
.docpoint-icon-1:before {
  content: "\e902";
}
.docpoint-icon-2:before {
  content: "\e903";
}
.docpoint-icon-3:before {
  content: "\e904";
}
.docpoint-icon-4:before {
  content: "\e905";
}
.docpoint-icon-5:before {
  content: "\e906";
}
.docpoint-icon-6:before {
  content: "\e907";
}
.docpoint-icon-7:before {
  content: "\e908";
}
.docpoint-icon-8:before {
  content: "\e909";
}
.docpoint-icon-9:before {
  content: "\e90a";
}
.docpoint-icon-10:before {
  content: "\e90b";
}
.docpoint-icon-11:before {
  content: "\e90c";
}
.docpoint-icon-12:before {
  content: "\e90d";
}
.docpoint-icon-13:before {
  content: "\e90e";
}
.docpoint-icon-14:before {
  content: "\e90f";
}
.docpoint-icon-15:before {
  content: "\e910";
}
.docpoint-icon-16:before {
  content: "\e911";
}
.docpoint-icon-17:before {
  content: "\e912";
}
.docpoint-icon-18:before {
  content: "\e913";
}
.docpoint-icon-19:before {
  content: "\e914";
}
.docpoint-icon-20:before {
  content: "\e915";
}
.docpoint-icon-21:before {
  content: "\e916";
}
.docpoint-icon-22:before {
  content: "\e917";
}
.docpoint-icon-23:before {
  content: "\e918";
}
.docpoint-icon-24:before {
  content: "\e919";
}
.docpoint-icon-25:before {
  content: "\e91a";
}
